# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Compiled output
dist/
build/
out/
.next/

# Dependency directories
node_modules/
bower_components/
jspm_packages/
web_modules/

# TypeScript cache
*.tsbuildinfo
next-env.d.ts

# Optional caches
.cache/
.parcel-cache/
.nyc_output/
coverage/
*.lcov

# Environment variables
.env
.env.*
!.env.example

# VSCode
.vscode/
.vscode-test

# Yarn / NPM / PNPM
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Firebase
.firebase/

# Serverless
.serverless/

# Svelte / Vite / Vue / Nuxt / Gatsby (common)
.svelte-kit/
.temp
.docusaurus
.nuxt
.vuepress/dist
**/.vitepress/dist
**/.vitepress/cache

# OS-specific
.DS_Store
Thumbs.db

# Misc
*.pem
.vercel
tern-port
